/* App.css */

.page-container {
    margin: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  .page-header {
    font-size: 24px;
    font-weight: bold;
  }
  
  .page-subheader {
    font-size: 18px;
    margin-top: 10px;
  }
  
  .header-buttons {
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  .buttons-container {
    margin-bottom: 20px;
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .start-location-button {
    padding: 12px 24px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border: none;
    border-radius: 8px;
    background: blue;
    color: #fff;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 5px;
    width: 200px;
    text-align: center;
  }
  
  .start-location-button:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
  }

  form {
    max-width: 600px; /* Slightly wider for better form appearance */
    margin: 50px auto;
    padding: 30px;
    background-color: #f9f9f9;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    font-family: 'Arial', sans-serif;
    box-sizing: border-box;
  }
  
  label {
    display: block;
    margin-bottom: 6px;
    font-weight: bold;
    color: #333;
  }
  
  .comment-input {
    width: 100%;
    padding: 12px; /* Increased padding for better input feel */
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
    font-size: 16px;
    transition: border-color 0.3s;
  }
  
  .comment-input:focus {
    border-color: #1E90FF; /* Highlight input when focused */
    outline: none; /* Remove default outline */
  }
  
  .comment-input[type="textarea"] {
    height: 150px; /* Height of the textarea */
    resize: vertical; /* Allow resizing vertically */
  }
  
  button {
    background-color: #1E90FF;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.2s ease-in-out, transform 0.1s ease;
  }
  
  button:hover {
    background-color: #1c86ee;
    transform: scale(1.05); /* Small scale effect on hover */
  }
  
  button:active {
    transform: scale(1); /* Reset scale when button is clicked */
  }
  
  .container {
    width: 80%;
    margin: 0 auto;
  }
  
  @media (max-width: 1024px) {
    .container {
      width: 95%;
    }
  }

 

  